@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: rgb(46, 46, 46);
    font-family: 'Roboto', sans-serif;
}
a, h1, div, span, p {
    color: white;
}


.form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

input, button, output, textarea { 
    color: white;
    padding: 0.5rem;
    margin: 1rem;
    background-color: rgb(100, 100, 100);
    resize: none;
    border-radius: 1rem;
    box-shadow: 2px 4px 10px rgb(32, 32, 32);
    border: none;
}
::placeholder {
    color:rgb(184, 184, 184);
}

input:focus {
    outline: none;
}

.App {
  text-align: center;
}
